@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color:#081b29;
  --second-bg-color:#112e42;
  --text-color:#ededed;
  --main-color:#00abf0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}
.navbar a:hover, .navbar a:active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/images/home.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.home .home-content {
  max-width: 60rem;
}
.home .home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home .home-content h1 span {
  color: var(--main-color);
}
.home .home-content p {
  width: 60%;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.home .home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home .home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}
.home .home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}
.home .home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}
.home .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.home .btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.home .btn-box .btn:hover {
  color: var(--main-color);
}
.home .btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
}
.home .btn-box .btn:hover::before {
  width: 100%;
}
.home .btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}
.home .btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}
.home .btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}
.home .home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home .home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
}
.home .home-sci a:hover {
  color: var(--bg-color);
}
.home .home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
}
.home .home-sci a:hover::before {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding: 6rem;
}
.about .heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.about .heading span {
  color: var(--main-color);
}
.about .about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}
.about .about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
}
.about .about-content {
  text-align: center;
}
.about .about-content h3 {
  font-size: 2.6rem;
}
.about .about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.about .about-content .btn-box {
  display: inline-block;
  width: 15rem;
}
.about .about-content .btn-box a::before {
  background: var(--second-bg-color);
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}
.education .heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.education .heading span {
  color: var(--main-color);
}
.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education .education-row .education-column {
  flex: 1 1 40rem;
}
.education .education-row .education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.education .education-row .education-column .education-box {
  border-left: 0.2rem solid var(--main-color);
}
.education .education-row .education-column .education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education .education-row .education-column .education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
}
.education .education-row .education-column .education-box .education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.education .education-row .education-column .education-box .education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}
.education .education-row .education-column .education-box .education-content .content .year i {
  padding-right: 0.5rem;
}
.education .education-row .education-column .education-box .education-content .content h3 {
  font-size: 2rem;
}
.education .education-row .education-column .education-box .education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}
.education .education-row .education-column .education-box .education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
  background: var(--second-bg-color);
}
.education .education-row .education-column .education-box .education-content .content:hover::before {
  width: 100%;
}

.skills {
  min-height: auto;
  padding: 7rem;
  background: var(--second-bg-color);
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills .skills-row .skills-column {
  flex: 1 1 40rem;
}
.skills .skills-row .skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}
.skills .heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.skills .heading span {
  color: var(--main-color);
}
.skills .skills-box {
  position: relative;
}
.skills .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}
.skills .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
}
.skills .skills-content:hover::before {
  width: 100%;
}
.skills .skills-content .progress {
  padding: 1rem 0;
}
.skills .skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills .skills-content .progress h3 span {
  color: var(--text-color);
}
.skills .skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}
.skills .skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}
.contact .heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.contact .heading span {
  color: var(--main-color);
}
.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}
.contact form .input-box .input-field input {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder {
  color: var(--text-color);
}
.contact form .input-box .input-field input:focus ~ .focus {
  width: 100%;
}
.contact form .input-box .input-field input:valid ~ .focus {
  width: 100%;
}
.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  width: 100%;
  display: flex;
}
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  resize: none;
}
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}
.contact form .textarea-field textarea:focus ~ .focus {
  width: 100%;
}
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}
.contact form .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  height: 4rem;
}
.contact form .btn:hover {
  color: var(--main-color);
}
.contact form .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.3s;
}
.contact form .btn:hover::before {
  width: 100%;
}
.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.3s;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer .footer-text p {
  font-size: 1.2rem;
}
.footer .footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  overflow: hidden;
  z-index: 1;
}
.footer .footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.2s;
}
.footer .footer-iconTop a:hover::before, .footer .footer-iconTop a:hover i {
  width: 100%;
  color: var(--main-color);
}
.footer .footer-iconTop a i {
  font-size: 1.6rem;
}